@page "/gallery"

<style>
    /* 在这里添加您的CSS样式 */
    body {background-color: powderblue;}
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 20px;
    }

    .gallery img {
        width: 100%;
        border-radius: 5px;
    }

    .gallery a {
        display: inline-block;
        border: 1px solid #ccc;
        padding: 5px;
    }
</style>

<div class="container pt-5">
    <h1 style="color:blue;">青楼梦·万晓慈-不负初心不负卿</h1>
    <h2 style="color:blue;">青楼梦·万晓慈-一生一世一双人</h2>
    <div class="gallery">
    @for(int i=1; i<=33; i++)
    {
        <a href="/gallery/@(i.ToString() + ".png")" target="_blank">
            <img src="/gallery/@(i.ToString() + ".png")" alt="图片 @i">
        </a>
    }
    @for(int i=34; i<=42; i++)
    {
        <a href="/gallery/@(i.ToString() + ".jpg")" target="_blank">
            <img src="/gallery/@(i.ToString() + ".jpg")" alt="图片 @i">
        </a>
    }
    @for(int i=43; i<=94; i++)
    {
        <a href="/gallery/@(i.ToString() + ".png")" target="_blank">
            <img src="/gallery/@(i.ToString() + ".png")" alt="图片 @i">
        </a>
    }
    </div>
</div>

<script>
  const galleryImages = document.querySelectorAll('.gallery a');

  galleryImages.forEach(image => {
    image.addEventListener('click', function(event) {
      event.preventDefault();

      const url = this.getAttribute('href');
      window.open(url, 'mywindow');
    });
  });
</script>
