@page "/gallery"

<style>
    /* 在这里添加您的CSS样式 */
    body {background-color: powderblue;}
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 20px;
    }

    .gallery img {
        width: 100%;
        border-radius: 5px;
    }

    .gallery a {
        display: inline-block;
        border: 1px solid #ccc;
        padding: 5px;
    }
</style>
@{
    var imageTitles = new string[]
    {
        "相拥而眠",
        "情深意重",
        "参见女王陛下",
        "惊醒书灵",
        "兔兔&LOVE",
        "花海！花海！",
        "花海！花海！",
        "花海！花海！",
        "花海中の法阵",
        "汐族神殿",
        "黑帝女神",
        "游山玩水",
        "藏身于桃花",
        "祈愿树下你和我",
        "祈愿树&相拥",
        "伞村の大蘑菇",
        "三色花交汇处の公主抱",
        "三色花交汇处の公主抱",
        "星影池~漂亮的大树",
        "荒村探险",
        "荒村中游荡の灵魂",
        "上天的法阵！",
        "兹拉！",
        "星影池の亲亲",
        "星影池の亲亲",
        "坐在猫猫上看天空",
        "红叶最多情",
        "火红相拥",
        "超大蘑菇啊！",
        "上风车啦！",
        "苏澜城",
        "最熟悉的苏澜大桥",
        "苏澜大桥の凝望",
        "花海！花海！",
        "祈愿树下你和我",
        "汐族神殿",
        "黑帝女神",
        "游山玩水",
        "藏身于桃花",
        "花海中の法阵",
        "花海！花海！",
        "花海！花海！",
        "苏澜大桥&猫猫",
        "大猫猫和小猫猫",
        "极光！",
        "荒村勇敢の亲亲",
        "桃花中の窥探",
        "桃花中の窥探",
        "亲亲",
        "抱抱",
        "可爱的小熊",
        "大大猫和小小喵",
        "飞云之上",
        "猫兔贴贴",
        "猫兔贴贴",
        "云上の山尖尖",
        "参见女王陛下",
        "这就是皇城啊",
        "火影！",
        "淋水啦！",
        "藏书洞~感觉长脑子了",
        "好~",
        "书灵！",
        "书灵！",
        "书灵！",
        "抵抗书灵！",
        "抵抗书灵！",
        "抵抗书灵！",
        "画",
        "字",
        "卷轴啊",
        "排排坐",
        "排排坐",
        "带小书灵跑出来啦",
        "带小书灵跑出来啦",
        "夕阳下的苏澜大桥",
        "烟花！",
        "对望",
        "烟花！",
        "烟花！",
        "被壁咚啦！",
        "被壁咚也要抱抱",
        "被壁咚也要抱抱",
        "被壁咚啦！",
        "被壁咚啦！",
        "被壁咚也要举高高",
        "被壁咚也要抱抱",
        "被壁咚啦！",
        "被壁咚啦！",
        "被壁咚也要举高高",
        "心形花园~",
        "心形花园",
        "一起看海吧",
        "日升到日暮"
    };
}
<div class="container pt-5">
    <h1 style="color:blue;">青楼梦·万晓慈-不负初心不负卿</h1>
    <h2 style="color:blue;">青楼梦·万晓慈-一生一世一双人</h2>
    <div class="gallery">
    @for(int i=1; i<=33; i++)
    {
        <a href="/gallery/@(i.ToString() + ".png")" target="_blank">
            <img src="/gallery/@(i.ToString() + ".png")" alt="图片 @i">
        </a>
    }
    @for(int i=34; i<=42; i++)
    {
        <a href="/gallery/@(i.ToString() + ".jpg")" target="_blank">
            <img src="/gallery/@(i.ToString() + ".jpg")" alt="图片 @i">
        </a>
    }
    @for(int i=43; i<=94; i++)
    {
        <a href="/gallery/@(i.ToString() + ".png")" target="_blank">
            <img src="/gallery/@(i.ToString() + ".png")" alt="图片 @i">
        </a>
    }
    </div>
</div>

<script>
  const galleryImages = document.querySelectorAll('.gallery a');

  galleryImages.forEach(image => {
    image.addEventListener('click', function(event) {
      event.preventDefault();

      const url = this.getAttribute('href');
      window.open(url, 'mywindow');
    });
  });
</script>
